*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#top
{
    background-color: #1f2a32; 
    top:0;
    width:100%;
    height:45.391px;
    overflow:hidden;
}
.mian-c
{
    float:left;
    width:16.66666667%;
    border-left:1px solid #273643;
    border-right:1px solid #11171d;
    border-top:3px solid #3776ab;
    border-bottom:0;
}
.first
{
    display:block;
    text-align:center;
    height:42.39px;
    padding:0.5em 0.75em 0.4em;
    line-height:1.75em;
    font-size:1em;
    color:#999;
}
a{
    text-decoration:none;
}
#boss
{
    padding:0.75em 1em;
    border-top:1px solid #191919;
    border-bottom:1px solid #444;
    background-color:#2b5b84;
    font-size:100%;
    width:100%;
    overflow:hidden;
}
#whole
{
    color:#fff;
    padding:0.75em 1em;
    clear:both;
}
#whole-top
{
    overflow: hidden;
}
#one
{
    float: left;
    width:255.188px;
    height:72.156px;
    width:50%;
}
#two
{
    float:left;
    background:#1e2933;
    width:50%;
    overflow:hidden;
}
#main-b
{
    float:left;
}
form
{
    display:inline-block;
    vertical-align:middle;
    padding:0.35em 0.2em 0.3em;
    font-size:100%;
    height:57.39px;
    border:0;
    border-right:1px solid #070a0c;
}
#sousuo
{
    width:38.5px;
    height:46px;
    margin-right:8px;
    padding:6.4px 8px 4.8px;
    text-align:center;
}
#main_form
{
    width:160px;
    height:28px;
    padding:6.4px 8px 4.8px;
    border:0;
    margin:2px 8px 2px 0;
    background:white;
    color:#bbb;
}
#small_form
{
    color:#e6e8ea!important;
    background-color:#2b5b84;
    height:39.98px;
    width:46.33px;
    border-top:1px solid #3d83be;
    border-right:1px solid #3776ab;
    border-bottom:1px solid #3996ab;
    border-left:1px solid #3d83be;
}
#l
{
    background-color:#1e2933;
    height:46px;
    font-size:100%;
}
#main-e
{
    padding:1em 1em 0.875em;
    text-align:center;
    color:#bbb;
}
.d
{
    font-size:100%;
    float:left;
    background-color:#3776ab;
    border-top:1px solid #4f90c6;
    border-right:1px solid #2b5b84;
    border-bottom:1px solid #1e415e;
    border-left:1px solid #4f90c6;
    height:44.39px;
    color:#e6e8ea;
}
.k
{
    color:#e6e8ea;
}
#middle,ul
{
    list-style:none;
    overflow: hidden;
}
table
{
    margin:0 auto;
}
#left
{
    float:left;
    width:356px;
    height:328px;
    background-color:#1E2833;
}
#right
{
    float:left;
    width:356px;
    height:328px;
    background-color:#1E2833;
}
#next
{
    margin:0 auto;
    width:800px;
    margin-top:1px;
    overflow: hidden;
}
#last
{
    margin-top:1px;
    line-height:1.5em;
    font-size:100%;
    text-align:center;
    color:#caccce;
    font-weight: bold;
}
#h
{
    line-height: 1.4px;
    display: inline;
}
#Last
{
    color:#ffa343;
}
#bigboss
{
    overflow: hidden;
    margin-bottom:1px;
}
#C
{
    padding:1.5em 1.75em;
    margin-bottom:1.3125em;
    border:1px solid #caccce;
    background-color: #d8dbde;
    font-style: 100%;
}
#title
{
    font-size: 1.29375em;
    color:#737373;
    margin-bottom:0.35em;
    line-height: 1.25em;
}
#bottom
{
    width:100%;
    text-align:center;
    height:106px;
    background-color:#3776ab;
}
#f
{
    font-size:0.875em;
    display: inline;
    list-style: none;
}
#p
{
    text-align:center;
    font-size:0.875em;
    height:22px;
}
.z
{
    display: inline;
}
.si
{
    width:25%;
    float: left;
    box-sizing:border-box;
    border-top:4px solid #75a8d3;
    padding:1.25em;
    font-size: 100%;
    color:#444;
}
.si
{
    margin-bottom: 0.875em;
}
.shi
{
    width:50%;
    float: left;
    box-sizing:border-box;
    border-top:4px solid #75a8d3;
}
h2
{
    color:#444;
    line-height:1.25em;
    margin:0 0 0.1em;
    font-size: 1.50938em;
}
.B
{
    color:#3776ab;
}
